.about{
    /* min-height: 100vh; */
}
.about_page{
    height: 400px;
    color: white;
    position: relative;
    background:url(/aboutBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(15, 14, 14); */
    padding: 2rem 4rem;
}
.about_img_content_top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.about_content{
    padding: 1rem;
    width: 70%;
}
.about_content_img{
    width: 30%;
}

.about_content_heading{
    font-size: 2rem;
    font-weight: 600;
}
/* .about_content_para{
  
} */
.about_IMAGE{
    width: 100%;
}
.span_orange{
     background: linear-gradient(90deg, #ff6a00, #ee0979);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about_top_btns{
    display: flex;
    gap: 1rem;
}
.btn_call {
  padding: 12px 24px;
  background: #111;          
  color: #fff;
  border: 1px solid transparent; 
  border-image: linear-gradient(90deg, #ff6a00, #ee0979) 1;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-top: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn_call:hover {
  background: linear-gradient(90deg, #ff6a00, #ee0979);   
  color: #000;           
  transform: translateY(-2px);
}

.btn_call:active {
  transform: translateY(0);
  background: #e65c00;  

}
.how_we_are{
    margin: 2rem auto;
    max-width: 70vw ;
    text-align: center;

}
.how_we_are_para{
    font-size: 1.2rem;
}
.how_we_are_heading{
    text-align: center;
    font-size: 3rem;
    
}
.Our_mission_Our_Vision{
    max-width: 75vw;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    

}
.Our_mission,.Our_Vision{
    padding: 20px;
    border: 1px solid ;
    border-radius: 12px;
 box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
}
.Our_mission:hover,.Our_Vision:hover{
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.Our_mission_Our_Vision_heading{
    font-size: 1.8rem;
    font-weight: 600;
    background: linear-gradient(90deg, #ff6a00, #ee0979);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
    position: relative;
    display: inline-block;
}
.Our_mission_Our_Vision_heading::after{
content: "";
position: absolute;
bottom: -3px;
left: 0;
width:20%;
height: 3px;
background-color: #000;
}
.center_about{
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(112, 111, 111);
}
.dreamAbout_content{
    font-size: 2.5rem;
    font-weight: 500;
}
.about_img_content{
    max-width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items:center;
}
.about_count{
    background-color: black;
    color: white;
    padding: 5px;
}
.about_img_First_content_paraHeading{
    width: 90%;
}
.warp_para{
    background-color: rgb(236, 236, 236);
    padding: 10px;
}
.about_img_First_content_para_heading{
    font-size: 1.2rem;
    font-weight: 500;
}
.about_img_First_content_top{
    margin-top: 2rem;
}

/* about_values_heading */

.about_values_heading{
    text-align: center;
    padding-top: 2rem;
    font-size: 2.5rem;
}
.aboutValue{
    display: flex;
    padding: 10px;
    max-width: 90vw;
    margin: auto;
    align-items:flex-start ;
    gap: 10px;
    text-align: center;

}
.value_heading{
    font-size: 1.2rem;
    font-weight:500 ;
}

.tag {
  flex: 0 0 auto; 
  margin: 1rem 10px; 
  padding: 0.5rem 1rem; 
  background: #1a1a1a; 
  color: #fff; 
  border-radius: 8px; 
  font-size: 1rem; 
  white-space: nowrap; 
  
}

.About_scrollerWrapperTag{
    overflow: hidden;
  width: 100%;
  padding: 1rem 0;
}
.About_scrollerTag {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  animation: scrollRight 15s linear infinite;
}

@keyframes scrollRight {
  0%   { transform: translateX(-50%); }
  100% { transform: translateX(0);     }
}

/* AboutDetails */

.aboutMe_heading{
    text-align: center;
    margin: 1rem;
    font-size: 3rem;
}
.aboutMe_heading_span{
    background: linear-gradient(90deg, #ff6a00, #ee0979);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.webads_fusion{
    max-width: 75vw;
    margin:2rem auto;
    display: flex;
    width: 100%;
    height: auto;
    gap: 1rem;
}

.webads_fusionDetails,.webads_fusionDetails_right{
    width: 50%;
    height: 100%;
    border: 0.5px solid rgb(230, 228, 228);
    border-radius: 8px;
    padding: 5px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.webads_fusionDetails:hover, 
.webads_fusionDetails_right:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}
.image_name{
    border-bottom: 0.5px solid rgb(231, 228, 228);
    /* background:url(https://media.licdn.com/dms/image/v2/D5616AQGDQpIPsmMiqg/profile-displaybackgroundimage-shrink_350_1400/B56ZhUuPlgHkAo-/0/1753768066103?e=1759363200&v=beta&t=f5ptDLVWkxBPfcBdjVJeeJcVzV2kf1Lk4e7XH67c5hk) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    height: 200px;
}
.image_name_img{
  width: 100%;
  height: 100%;
}
.image_name_fullstack{
     border-bottom: 0.5px solid rgb(231, 228, 228);
    /* background:url(/about_skill.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    height: 200px;
}
.flex_name_img{
 display: flex;
    gap: 1rem;
    align-items: center;
    padding: 5px;

}
.anand_img{
    border-radius: 50%;
    border:3px solid#ff6a00;

}
.name_name{
    font-size:1.8rem;
    font-weight: 500;

}
.name_Profomance{
    font-size: 1.5rem;
}
.owner_deatils{
    padding: 8px;
}
.owner_deatils_pOne,.owner_deatils_pTwo,.owner_deatils_pThree{
    padding: 8px;
}

.social_media{
    padding: 5px;
}
.All_fonts{
    display: flex;
    gap: 0.5rem;
    padding: 8px;
    align-items: center;
}
.All_fonts div{
    font-size: 1.2rem;
    border-radius: 50%;
    background: linear-gradient(90deg, #ff6a00, #ee0979);
    padding: 7px 12px;
    color:white ;
}
.cta_btn{
background: linear-gradient(90deg, #ff6a00, #ee0979);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-top:1rem ;
}
.cta_btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}


.scrollerSection {
  overflow: hidden;
  position: relative;
}

.scrollerWrapper {
  overflow: hidden;
  padding: 2rem;
}
.scoller {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  width: fit-content;
  width: 200%;
  animation: scroll 18s linear infinite;
}

.scroller_container {
  margin-right: 15px;
}
.scroller_container_Details {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 12px;
  border-radius: 10px;
  background-color: #e9e9e9;
}

.scoller_marketing {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  width: fit-content;
  width: 200%;
  animation: scrollMarketing 20s linear infinite;
}
.scoller:hover ,.scoller_marketing:hover {
  animation-play-state: paused;
  cursor: pointer;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollMarketing {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width:850px) {
    .about_img_content,.aboutValue{
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    }
    .dreamAbout_content {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.about_img_First_content_paraHeading {
    width: 100%;
}
.aboutImage{
    width: 100%;
}
.about_page{
height: 300px;
}
.about_page{
    height: 100%;
    background:#222122;
    padding: 1.5rem 1.5rem;
}
.about_img_content_top{
  flex-direction: column;
}
.about_content {
    width: 100%;
    padding: 0.5rem;
}
.about_content_img {
width: 100%;
}
.about_content_heading{
    font-size: 23px;
    font-weight: 600;
}
.btn_call{
    font-size: 1rem;
    padding: 12px 16px;
}
.how_we_are_heading {
    font-size: 2.5rem;
}
.how_we_are {
    text-align: center;
    max-width: 95vw;
    
}
.how_we_are_para {
    font-size: 17px;
}
.Our_mission_Our_Vision {
    gap: 1rem;
    max-width: 95%;
    flex-direction: column;
}
/* about me */
.webads_fusion{
    max-width:95vw;
    margin:1rem auto;
    flex-direction: column;
}
.webads_fusionDetails,.webads_fusionDetails_right{
    width: 100%;
    height: 100%;
    border: 0.5px solid rgb(230, 228, 228);
    border-radius: 8px;
    padding: 5px;
}
.image_name,.image_name_fullstack{
    height: 150px;
}
.anand_img{
    height: 120px;
    width: 120px;
}
.flex_name_img{
    margin-top: 0.5rem;
}
.name_name{
    font-size: 1.5rem;
}
.name_Profomance{
    font-size: 1.2rem;
}
.aboutMe_heading{
  font-size: 2.5rem;
}
}